spring:
  datasource:
    url: jdbc:mysql://localhost:3306/coffee_shop
    username: root
    password: mysql123

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080


jwt:
  secret: idksomethingsecret4567
  expiration: 86400000